@inherits LayoutComponentBase

<div class="content">
    @Body
</div>

<div id="add-menu" class="vertical-stack-layout add-menu">
    <div class="add-menu-item">Account</div>
    <div class="add-menu-item">Transaction</div>
</div>

<div class="horizontal-stack-layout tab-bar">
    <div id="add-button" class="button add" onclick="toggleAddMenu()">
        <span class="icon mdi mdi-plus" />
    </div>
</div>

