@inherits LayoutComponentBase

<div class="content">
    @Body
</div>

<div class="horizontal-stack-layout tab-bar">
    <div class="button add">
        <span class="icon mdi mdi-plus" />
    </div>
</div>

