@page "/login"
@inject IUserService UserService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<EditForm Model="loginForm" OnValidSubmit="OnSubmitLoginAsync">
    <DataAnnotationsValidator />

    <label for="email">Email address:</label>
    <InputText Id="email" type="email" @bind-Value="loginForm.Email" />
    <ValidationMessage For="@(() => loginForm.Email)" />

    <br />
    <br />

    <label for="password">Password:</label>
    <InputText type="password" @bind-Value="loginForm.Password" />
    <ValidationMessage For="@(() => loginForm.Password)" />

    <br />
    <br />
    <button type="submit">Login</button>
</EditForm>


@code {
    private LoginUserModel loginForm = new();

    private async void OnSubmitLoginAsync()
    {
        if (await UserService.LoginUserAsync(new(loginForm.Email!, loginForm.Password!)))
            NavigationManager.NavigateTo("/");
    }
}
