/* _content/BudgeteerShared/Pages/AccountPage.razor.rz.scp.css */
.account-page[b-wso2oaxd3u] {
    row-gap: 10px;
    padding: 10px 10px 0 10px;
}

/* _content/BudgeteerShared/Views/AccountCardView.razor.rz.scp.css */
.account-card[b-eoxe9a9he1] {
    padding: 10px 15px;
    row-gap: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, mediumpurple, blue);
}

.bank-name[b-eoxe9a9he1] {
    font-size: x-large;
    color: white;
}

.currency[b-eoxe9a9he1] {
    padding: 5px 15px;
    background-color: gold;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    align-self: center;
    font-size: medium;
    font-weight: 600;
    color: black;
}

.value[b-eoxe9a9he1] {
    flex-grow: 2;
    text-align: right;
    font-weight: 600;
    font-size: xx-large;
    color: white;
}

/* _content/BudgeteerShared/Views/TransactionsView.razor.rz.scp.css */
.transaction-card[b-6wpnt8ron3] {
    row-gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, slategray, darkslategray);
}

.transaction-item[b-6wpnt8ron3] {
    column-gap: 10px;
}

.transaction-icon[b-6wpnt8ron3] {
    align-self: center;
    aspect-ratio: 1 / 1;
    width: 35px;
}

.transaction-details[b-6wpnt8ron3] {
    width: 100%;
}

.transaction-title[b-6wpnt8ron3] {
    font-size: small;
    color: white;
}

.transaction-amount[b-6wpnt8ron3] {
    margin-left: auto;
    font-size: small;
    color: white;
}

.transaction-subtitle[b-6wpnt8ron3] {
    font-size: xx-small;
    color: white;
}

.transaction-original-amount[b-6wpnt8ron3] {
    margin-left: auto;
    font-size: xx-small;
    color: white;
}

