.account-card[b-eoxe9a9he1] {
    padding: 10px 15px;
    row-gap: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, mediumpurple, blue);
}

.bank-name[b-eoxe9a9he1] {
    font-size: x-large;
    color: white;
}

.currency[b-eoxe9a9he1] {
    padding: 5px 15px;
    background-color: gold;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    align-self: center;
    font-size: medium;
    font-weight: 600;
    color: black;
}

.value[b-eoxe9a9he1] {
    flex-grow: 2;
    text-align: right;
    font-weight: 600;
    font-size: xx-large;
    color: white;
}

