@inherits LayoutComponentBase

<AuthorizeView>
    <NotAuthorized>
        <Login />
    </NotAuthorized>

    <Authorized>
        <main>
            @Body
        </main>

        <NavMenu />
    </Authorized>
</AuthorizeView>
