.account-card {
    padding: 10px 15px;
    row-gap: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, var(--secondary-accent), var(--primary-accent));
}

.bank-name {
    font-size: x-large;
    color: white;
}

.currency {
    padding: 5px 15px;
    background-color: var(--secondary-dark-color);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    align-self: center;
    font-size: medium;
    font-weight: 600;
    color: var(--primary-accent);
}

.value {
    flex-grow: 2;
    text-align: right;
    font-weight: 600;
    font-size: xx-large;
    color: white;
}

