.transaction-card {
    row-gap: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--primary-light-color);
}

.transaction-item {
    column-gap: 5px;
}

.transaction-icon {
    align-self: center;
    aspect-ratio: 1 / 1;
    width: 30px;
    font-size: large;
    color: black;
}

.transaction-details {
    width: 100%;
}

.transaction-title {
    color: black;
}

.transaction-amount {
    margin-left: auto;
    color: black;
}

.transaction-subtitle {
    font-size: small;
    color: black;
}

.transaction-original-amount {
    margin-left: auto;
    font-size: small;
    color: black;
}

